@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.header-container-general {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-autogestion {
  height: 64px;
  border-bottom-left-radius: 2rem;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #666666;
    transition: all 0.2s ease;

    &:hover {
      color: #3f3f3f;
    }
  }
}

.login-trips-help {
  display: flex;
}

.header-autogestion-item {
  margin-right: 0.5rem;
}

.header-navigation {
  min-height: 90px;
  display: flex;
  align-items: center;

  .fas,
  .far {
    width: 64px;
    height: 64px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: all 0.2s ease;
      border: 2px solid #270570;
    }
    &:active {
      color: #270570;
    }
  }
}

.header-product-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 90px;
}

.header-list-products {
  padding: 0 0.5rem;
  display: flex;
  overflow-x: scroll;
}

.header-corners-container {
  width: 100vw;
}

.header-navigation {
  width: 100vw;
  overflow-x: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-autogestion-link {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-weight: bold;

  span {
    margin-left: 0.5rem;
  }

  .fas,
  .far {
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-autogestion-container {
  display: flex;
}

.shifu-inspiration-button {
  display: flex;
  align-items: center;
  justify-content: center;

  .far {
    padding: 0;
    min-width: 64px;
    height: 64px;
  }
}
